.tlo
{
    width: 94%;
    padding-bottom: 100px;
    margin: 30px auto;
    border: 2px rgb(0, 0, 0) solid;
    background-image: linear-gradient(20deg, rgb(156, 255, 255), rgb(255, 241, 178), rgb(255, 101, 101));
    background-color: rgba(203, 238, 2, 0.486);
    opacity: .85;
    border-radius: 5px;
    box-shadow: 8px 8px 12px 1px rgba(58, 58, 58, 1);
}

#tytol
{
    text-align: center;
    border-bottom: solid rgb(0, 0, 0) 2px;
    border-radius: 5px;
    width: 40%;
    margin: auto auto;
    font-size: 14vmin;
    font-style: oblique;
    text-shadow: 0px 0px 11px rgb(112, 0, 0);
    animation: pulsowanie 6s infinite;
}

@keyframes pulsowanie
{
    0% {transform: translateX(1%); rotate: 0.5deg; color: rgb(255, 223, 39); text-shadow: 0px 0px 11px rgb(255, 0, 0);}
    50% {transform: translateX(-1%); rotate: -0.5deg; color: rgb(185, 47, 47); text-shadow: 0px 0px 11px rgb(72, 0, 114)}
    100% {transform: translateX(1%); rotate: 0.5deg; color: rgb(0, 202, 101); text-shadow: 0px 0px 11px rgb(0, 119, 255)}
}

body
{
    background-color: rgb(170, 224, 238);
    background-image: radial-gradient(circle, rgba(156, 180, 255, 1) 0%, rgba(27, 28, 33, 1) 100%);
}

#but1{
    margin-top: 40px;
    margin-left: 76%;
    padding: 50px 90px;
    font-size: 45px;
    font-family: cursive;
    font-style: italic;
    font-weight: 900;
    border-radius: 5px;
    background-color: rgb(252, 223, 181);
    box-shadow: 3px 3px 12px 1px rgb(119, 0, 0);
    transition: background-color 0.7s, box-shadow 0.7s, color 0.8s
}

#but1:hover {
    background-color: #414141; 
    box-shadow: 5px 5px 15px 2px rgb(78, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#but2{
    margin-top: 85px;
    margin-left: 28%;
    padding: 70px 120px;
    font-size: 2.6vmax;
    font-family: cursive;
    font-style: italic;
    font-weight: 900;
    border-radius: 30px;
    background-color: rgb(240, 187, 128);
    box-shadow: 3px 3px 12px 1px rgb(119, 0, 0);
    transition: background-color 0.7s, box-shadow 0.7s, color 0.8s;
    align-self: center;
}

#but2:hover {
    background-color: #363636; 
    box-shadow: 5px 5px 15px 2px rgb(78, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.butt-holder
{
    width: 80%;
    margin: 20px auto;
}

#tworcy1
{
    color: rgb(255, 255, 255);
    background-color: rgb(104, 104, 104);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 26%;
    padding: 10px 10px;
}
#tworcy2
{
    color: rgb(255, 255, 255);
    background-color: rgb(104, 104, 104);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 41%;
    padding: 10px 10px;
}

#svg1{
    position: absolute;
    left: 1450px;
    top: 80px;
    animation: svgEz 1s infinite;
}
#svg1:hover{
    opacity: 0.7;
}

#svg2{
    position: absolute;
    left: 200px;
    top: 500px;
    animation: svgEzz 2s infinite;
    scale: 10%;
}
#svg2:hover{
    opacity: 0.7;
}

@keyframes svgEz{
    0% {scale: 97%;}
    50% {scale: 103%;}
    100% {scale: 97%;}
}

@keyframes svgEzz{
    0%{rotate: 0deg; scale: 190%;}
    30% {rotate: 5deg; scale: 180%;}
    80% {rotate: -5deg; scale: 180%;}
    100%{rotate: 0deg; scale: 190%;}
}


#pcb{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-image: url(pcb.jpg);
    opacity: 0.2;
    background-attachment: fixed;
}